<form
  action="http://localhost:8080/autos/"
  method="post"
  enctype="multipart/form-data"
>
  <label>Nombre:</label>
  <input type="text" required name="name" />
  <br />
  <label>Marca:</label>
  <input type="text" required name="brand" />
  <br />
  <label>Año:</label>
  <input type="number" required name="year" />
  <br />
  <label>Imagen:</label>
  <input type="file" name="file" />
  <br />
  <button type="submit" value="submit">Enviar</button>
</form>

{{#each autos}}
  <div>
    <img src="http://localhost:8080/static/{{this.image}}" />
    <h2>{{this.name}}</h2>
    <p>{{this.brand}}</p>
    <p>{{this.year}}</p>
    <p>{{this.image}}</p>
  </div>
{{/each}}