<div>
  <p>Estás accediendo a la base de datos de usuarios, tu identificación es:</p>

  <ul>
    <li>Nombre: {{name}}</li>
    <li>Apellido: {{lastname}}</li>
    <li>Edad: {{age}}</li>
    <li>Correo: {{email}}</li>
    <li>Teléfono: {{phone}}</li>
  </ul>
</div>